<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <link rel="icon" href="./favicon.png">
  <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous">
  <title>My Restaurant apps</title>
</head>

<body>
  <a href="#maincontent" class="skip-link">Skip To Content</a>
  <!-- start header -->
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton">☰</button>
    </div>
    <div class="app-bar__brand">
      <h3>My Restaurant Apps</h3>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li><a href="#/">Home</a></li>
        <li><a href="#/like">Favorite</a></li>
        <li><a href="https://www.linkedin.com/in/adisufatul-anam/" target="_blank">About Us</a></li>
      </ul>
    </nav>
  </header>
  <!-- stop header -->
  <!-- start hero -->
  <div class="hero">
    <img src="./images/hero-image_3.jpg" alt="Hero">
  </div>
  <!-- stop hero -->
  <!-- start main -->
  <main>
    <section class="content">
      <div class="row">
        <div id="mainContent" tabindex="0"></div>
      </div>
    </section>
  </main>
  <!-- stop main -->
  <!-- start footer -->
  <footer>
    <p>Submission Expert 2 <a href="https://www.linkedin.com/in/adisufatul-anam/" target="_blank"
        rel="noreferrer">Adisufatul Anam</a></p>
  </footer>
  <!-- stop footer -->
</body>

</html>